In [25]:
import pandas as pd

df = pd.read_csv("Sleep_health_and_lifestyle_dataset.csv")

In [26]:
def preprocessing(df):
    #excluir colunas; person ID não diz nada importante; sleep disorder entrega resultado
    df.drop(columns=['Person ID', 'Sleep Disorder'], inplace=True)

    #renomeando colunas
    df.rename(columns={
        'BMI Category': 'BMI',
        'Quality of Sleep': 'Quality',
        'Physical Activity Level': 'Activity',
        'Daily Steps': 'Steps',
    }, inplace=True)

    #padronizando rótulos
    df['BMI'] = df['BMI'].replace({'Normal Weight': 'Normal'})

    #separação da pressão arterial em sistólica e diastólica
    bp = df['Blood Pressure'].str.split('/', expand=True)
    df['Pressure_Systolic'] = pd.to_numeric(bp[0])
    df['Pressure_Diastolic'] = pd.to_numeric(bp[1])
    df.drop(columns=['Blood Pressure'], inplace=True)

    return df

In [27]:
data = preprocessing(df)
data.head()
#conjunto de dados estruturado

,Gender,Age,Occupation,Sleep Duration,Quality,Activity,Stress Level,BMI,Heart Rate,Steps,Pressure_Systolic,Pressure_Diastolic
0,Male,27,Software Engineer,6.1,6,42,6,Overweight,77,4200,126,83
1,Male,28,Doctor,6.2,6,60,8,Normal,75,10000,125,80
2,Male,28,Doctor,6.2,6,60,8,Normal,75,10000,125,80
3,Male,28,Sales Representative,5.9,4,30,8,Obese,85,3000,140,90
4,Male,28,Sales Representative,5.9,4,30,8,Obese,85,3000,140,90

In [28]:
y = data['Quality']
X = data.drop(columns=['Quality'])
#separando alvo

In [33]:
# One-Hot Encoding das variáveis categóricas
data_encoded = pd.get_dummies(
    data,
    columns=["Occupation", "Gender", "BMI"],
    drop_first=True
)
#one hot encoding para evitar falsa ordenação, já que modelos como árvore não usam dados categóricos

In [34]:
data.to_csv("dataframe.csv", index=False)